body {
    background-color: cadetblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    text-align: center;
    color: blueviolet;
}
.about {
    background-color: #f0f0f0;
    text-align: right;
    width: 100%;
    color: aquamarine;
}
.skills {
    color: #333;
    font-size: 1.2em;
}
.projects {
    border: 2px solid #ff6600;
}
.contact {
    text-align: center;
    padding: 20px;
}