body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding:20px;
    background:#b61fae;
}

.container{
    display:flex;
    justify-content: space-between;
    gap:20px;
}

.column{
    flex:1;
    padding: 20px;
    background:white;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

@media (max-width: 768px){
    .container{
        flex-direction: column;
    }
}